# Environnement virtuel
.venv/
venv/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers système
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Fichiers d'environnement
.env